<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='css/conatinerImg.css')}}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="containerImg">
                    <img src="{{url_for('static',filename='images/user.png' )}}" alt="Avatar" class="image">
                    <div class="middle">
                        <div class="text">{{username}}</div>
                    </div>
                </div>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="page2">Amount invested/Investors</a></li>
                <li><a href="page3">Amount spent/Transactions</a></li>
                <li><a href="page4">Balance/Project updates</a></li>
                <li style="margin-left: 387px;"><a href="/logout">Log out</a
        ></li>
        
    </ul>
  </div>
</nav>
<div class="container">
  <h1 ><a href="/profile" style="color:blue;">Profile</a></h1>
  <p><b>All the details of the investor</b></p>
</div>


<div class="container">
  <h1 > <a href="/myInvestment" style="color:red;">My Investment</a></h1>
  <p><b>Date and Amount investor invested</b></p>
</div>

</body>
</html>