<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='css/conatinerImg.css')}}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" async defer>
    $(document).ready(function() {
        $('#example').DataTable();
    });
    </script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="containerImg">
                    <img src="{{url_for('static',filename='images/user.png' )}}" alt="Avatar" class="image">
                    <div class="middle">
                        <div class="text">{{username}}</div>
                    </div>
                </div>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="page2">Amount invested/Investors</a></li>
                <li><a href="page3">Amount spent/Transactions</a></li>
                <li><a href="page4">Balance/Project updates</a></li>
                <li style="margin-left: 387px;"><a href="/logout">Log out</a
        ></li>
        
    </ul>
  </div>
</nav>
  
<div class="container">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
      <tr>
      <th>S.No</th>
      <th>Details</th> 
      <th>Amount</th>
      <th>Balance</th>
        </tr>
         <tbody>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>2</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>3</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>4</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>5</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>6</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>7</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>8</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
<tr>
                <td>9</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>10</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>

<tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
<tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
<tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
<tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>$320,800</td>
                <td>$62727</td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th>S.No</th>
              <th>Details</th> 
              <th>Amount</th>
              <th>Balance</th>
            </tr>
        </tfoot>
    </table>
  </div>
 
</body>
</html>