<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
body {
    background-color: #93B874;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TYI</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="home">Home</a></li>
      <li class="active"><a href="#">Amount invested/Investors</a></li>
      <li><a href="page3">Amount spent/Transactions</a></li>
      <li><a href="page4">Balance/Project updates</a></li>
      <li class="logout"><a href="/logout">Log out</a></li>
      <li style="float: right;"><a href="#">{{username}}</a
        ></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h1 style="color:blue;">List of Investors and Amount Invested</h1>
  <table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Amount invested</th>
  </tr>
  <tr>
    <td>Sharan</td>
    <td>Babu</td>
    <td>5,00,000/-</td>
  </tr>
  <tr>
    <td>Chetana</td>
    <td>Singh</td>
    <td>9,40,000/-</td>
  </tr>
</table>
</div>

</body>
</html>